body {
  /* font-family: 'Open Sans Condensed'; */
  margin: 0 auto;
  padding: 20px 40px;
  background: rgb(255, 230, 230);
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
